In [1]:
import os
# Find the latest version of spark 3.2 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.5.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()


from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Testing").getOrCreate()

Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:2 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:3 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:4 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:5 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:6 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:7 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:8 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease [24.3 kB]
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:11 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,858 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,377 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,129 kB]
Get:14 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy/main amd64 Packages [47.6 kB]
Get:15 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,084 kB]
Fetched 6,907 kB in 6s (1,225 kB/s)
Reading package lists... Done

In [2]:
# Start Spark session
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, desc, when
spark = SparkSession.builder.appName("BankChurners").getOrCreate()

In [3]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://groupfourproject.s3.ca-central-1.amazonaws.com/bank_churners.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("bank_churners.csv"), header=True, sep=',', inferSchema=True)


# Show DataFrame
df.show()

+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|CLIENTNUM|   Attrition_Flag|Customer_Age|Gender|Dependent_count|Education_Level|Marital_Status|Income_Category|Card_Category|Months_on_book|Total_Relationship_Count|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|768805383|Existing Customer|          45|     M|              3|    High School|       Married|    $60K - $80K|         Blue|            39|                       5|                     1|                    3|     12691.0|                777|        11914.0|               1.335|           1144|            42|              1.625|                0.061|                                                                                                                         9.3448E-5|                                                                                                                           0.99991|
|818770008|Existing Customer|          49|     F|              5|       Graduate|        Single| Less than $40K|         Blue|            44|                       6|                     1|                    2|      8256.0|                864|         7392.0|               1.541|           1291|            33|              3.714|                0.105|                                                                                                                         5.6861E-5|                                                                                                                           0.99994|
|713982108|Existing Customer|          51|     M|              3|       Graduate|       Married|   $80K - $120K|         Blue|            36|                       4|                     1|                    0|      3418.0|                  0|         3418.0|               2.594|           1887|            20|              2.333|                  0.0|                                                                                                                         2.1081E-5|                                                                                                                           0.99998|
|769911858|Existing Customer|          40|     F|              4|    High School|       Unknown| Less than $40K|         Blue|            34|                       3|                     4|                    1|      3313.0|               2517|          796.0|               1.405|           1171|            20|              2.333|                 0.76|                                                                                                                         1.3366E-4|                                                                                                                           0.99987|
|709106358|Existing Customer|          40|     M|              3|     Uneducated|       Married|    $60K - $80K|         Blue|            21|                       5|                     1|                    0|      4716.0|                  0|         4716.0|               2.175|            816|            28|                2.5|                  0.0|                                                                                                                         2.1676E-5|                                                                                                                           0.99998|
|713061558|Existing Customer|          44|     M|              2|       Graduate|       Married|    $40K - $60K|         Blue|            36|                       3|                     1|                    2|      4010.0|               1247|         2763.0|               1.376|           1088|            24|              0.846|                0.311|                                                                                                                         5.5077E-5|                                                                                                                           0.99994|
|810347208|Existing Customer|          51|     M|              4|        Unknown|       Married|        $120K +|         Gold|            46|                       6|                     1|                    3|     34516.0|               2264|        32252.0|               1.975|           1330|            31|              0.722|                0.066|                                                                                                                         1.2303E-4|                                                                                                                           0.99988|
|818906208|Existing Customer|          32|     M|              0|    High School|       Unknown|    $60K - $80K|       Silver|            27|                       2|                     2|                    2|     29081.0|               1396|        27685.0|               2.204|           1538|            36|              0.714|                0.048|                                                                                                                         8.5795E-5|                                                                                                                           0.99991|
|710930508|Existing Customer|          37|     M|              3|     Uneducated|        Single|    $60K - $80K|         Blue|            36|                       5|                     2|                    0|     22352.0|               2517|        19835.0|               3.355|           1350|            24|              1.182|                0.113|                                                                                                                         4.4796E-5|                                                                                                                           0.99996|
|719661558|Existing Customer|          48|     M|              2|       Graduate|        Single|   $80K - $120K|         Blue|            36|                       6|                     3|                    3|     11656.0|               1677|         9979.0|               1.524|           1441|            32|              0.882|                0.144|                                                                                                                         3.0251E-4|                                                                                                                            0.9997|
|708790833|Existing Customer|          42|     M|              5|     Uneducated|       Unknown|        $120K +|         Blue|            31|                       5|                     3|                    2|      6748.0|               1467|         5281.0|               0.831|           1201|            42|               0.68|                0.217|                                                                                                                         1.9094E-4|                                                                                                                           0.99981|
|710821833|Existing Customer|          65|     M|              1|        Unknown|       Married|    $40K - $60K|         Blue|            54|                       6|                     2|                    3|      9095.0|               1587|         7508.0|               1.433|           1314|            26|              1.364|                0.174|                                                                                                                         1.9751E-4|                                                                                                                            0.9998|
|710599683|Existing Customer|          56|     M|              1|        College|        Single|   $80K - $120K|         Blue|            36|                       3|                     6|                    0|     11751.0|                  0|        11751.0|               3.397|           1539|            17|               3.25|                  0.0|                                                                                                                         4.7799E-5|                                                                                                                           0.99995|
|816082233|Existing Customer|          35|     M|              3|       Graduate|       Unknown|    $60K - $80K|         Blue|            30|                       5|                     1|                    3|      8547.0|               1666|         6881.0|               1.163|           1311|            33|                2.0|                0.195|                                                                                                                         9.6126E-5|                                                                                                                            0.9999|
|712396908|Existing Customer|          57|     F|              2|       Graduate|       Married| Less than $40K|         Blue|            48|                       5|                     2|                    2|      2436.0|                680|         1756.0|                1.19|           1570|            29|              0.611|                0.279|                                                                                                                         1.1382E-4|                                                                                                                           0.99989|
|714885258|Existing Customer|          44|     M|              4|        Unknown|       Unknown|   $80K - $120K|         Blue|            37|                       5|                     1|                    2|      4234.0|                972|         3262.0|               1.707|           1348|            27|                1.7|                 0.23|                                                                                                                         6.3492E-5|                                                                                                                           0.99994|
|709967358|Existing Customer|          48|     M|              4|  Post-Graduate|        Single|   $80K - $120K|         Blue|            36|                       6|                     2|                    3|     30367.0|               2362|        28005.0|               1.708|           1671|            27|              0.929|                0.078|                                                                                                                         2.3623E-4|                                                                                                                           0.99976|
|753327333|Existing Customer|          41|     M|              3|        Unknown|       Married|   $80K - $120K|         Blue|            34|                       4|                     4|                    1|     13535.0|               1291|        12244.0|               0.653|           1028|            21|              1.625|                0.095|                                                                                                                         1.4953E-4|                                                                                                                           0.99985|
|806160108|Existing Customer|          61|     M|              1|    High School|       Married|    $40K - $60K|         Blue|            56|                       2|                     2|                    3|      3193.0|               2517|          676.0|               1.831|           1336|            30|              1.143|                0.788|                                                                                                                         1.7468E-4|                                                                                                                           0.99983|
|709327383|Existing Customer|          45|     F|              2|       Graduate|       Married|        Unknown|         Blue|            37|                       6|                     1|                    2|     14470.0|               1157|        13313.0|               0.966|           1207|            21|              0.909|                 0.08|                                                                                                                         5.5077E-5|                                                                                                                           0.99994|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [4]:
#Showing Column Type
df.printSchema()

root
 |-- CLIENTNUM: integer (nullable = true)
 |-- Attrition_Flag: string (nullable = true)
 |-- Customer_Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Dependent_count: integer (nullable = true)
 |-- Education_Level: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income_Category: string (nullable = true)
 |-- Card_Category: string (nullable = true)
 |-- Months_on_book: integer (nullable = true)
 |-- Total_Relationship_Count: integer (nullable = true)
 |-- Months_Inactive_12_mon: integer (nullable = true)
 |-- Contacts_Count_12_mon: integer (nullable = true)
 |-- Credit_Limit: double (nullable = true)
 |-- Total_Revolving_Bal: integer (nullable = true)
 |-- Avg_Open_To_Buy: double (nullable = true)
 |-- Total_Amt_Chng_Q4_Q1: double (nullable = true)
 |-- Total_Trans_Amt: integer (nullable = true)
 |-- Total_Trans_Ct: integer (nullable = true)
 |-- Total_Ct_Chng_Q4_Q1: double (nullable = true)
 |-- Avg_Utilization_Ratio: double (nullable = true)
 |-- Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1: double (nullable = true)
 |-- Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2: double (nullable = true)

In [5]:
#Dropping duplicates within the dataframe
df.dropDuplicates().show()

+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|CLIENTNUM|   Attrition_Flag|Customer_Age|Gender|Dependent_count|Education_Level|Marital_Status|Income_Category|Card_Category|Months_on_book|Total_Relationship_Count|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|789124683|Existing Customer|          54|     M|              2|        Unknown|       Married|   $80K - $120K|         Blue|            42|                       4|                     2|                    3|     12217.0|                  0|        12217.0|               1.075|           1110|            21|               0.75|                  0.0|                                                                                                                         2.1042E-4|                                                                                                                           0.99979|
|717296808|Existing Customer|          67|     F|              1|       Graduate|       Married| Less than $40K|         Blue|            56|                       4|                     3|                    2|      3006.0|               2517|          489.0|               2.053|           1661|            32|                1.0|                0.837|                                                                                                                         1.6883E-4|                                                                                                                           0.99983|
|711551958|Attrited Customer|          59|     M|              2|  Post-Graduate|       Married|    $60K - $80K|         Blue|            46|                       3|                     3|                    3|      1438.3|                  0|         1438.3|               0.688|            844|            24|                0.5|                  0.0|                                                                                                                            0.9972|                                                                                                                        0.00280059|
|713441958|Existing Customer|          46|     M|              2|    High School|       Married|        $120K +|         Blue|            36|                       5|                     3|                    2|     19727.0|               1785|        17942.0|               0.572|           1245|            25|              0.786|                 0.09|                                                                                                                         1.7486E-4|                                                                                                                           0.99983|
|789513858|Attrited Customer|          43|     M|              3|        Unknown|       Married|    $40K - $60K|         Blue|            35|                       2|                     2|                    3|      1438.3|                  0|         1438.3|               0.694|            891|            28|                0.4|                  0.0|                                                                                                                           0.99544|                                                                                                                        0.00455805|
|720680058|Existing Customer|          47|     M|              2|  Post-Graduate|       Married| Less than $40K|         Blue|            36|                       6|                     1|                    3|      3888.0|               1663|         2225.0|               0.664|           1145|            37|              0.423|                0.428|                                                                                                                           1.09E-4|                                                                                                                           0.99989|
|802817358|Existing Customer|          38|     F|              3|    High School|       Married|        Unknown|         Blue|            32|                       4|                     2|                    1|     11594.0|               2072|         9522.0|               0.983|           2320|            51|              0.594|                0.179|                                                                                                                         6.9242E-5|                                                                                                                           0.99993|
|801369258|Existing Customer|          47|     F|              5|  Post-Graduate|       Married|    $40K - $60K|         Blue|            41|                       6|                     2|                    2|      4466.0|                777|         3689.0|                1.02|           1757|            59|              0.595|                0.174|                                                                                                                         1.3827E-4|                                                                                                                           0.99986|
|770882508|Existing Customer|          38|     M|              2|        College|       Married|   $80K - $120K|         Blue|            24|                       4|                     1|                    5|     17162.0|                773|        16389.0|               1.238|           2457|            54|                1.0|                0.045|                                                                                                                         2.6586E-4|                                                                                                                           0.99973|
|709334658|Existing Customer|          39|     F|              2|     Uneducated|       Married| Less than $40K|         Blue|            26|                       4|                     2|                    5|      5484.0|               2517|         2967.0|               0.489|           2025|            51|              0.378|                0.459|                                                                                                                         5.8091E-4|                                                                                                                           0.99942|
|710540883|Existing Customer|          37|     M|              3|    High School|        Single|   $80K - $120K|         Blue|            24|                       5|                     3|                    2|      6590.0|                  0|         6590.0|               0.714|           2449|            67|              0.634|                  0.0|                                                                                                                         1.8145E-4|                                                                                                                           0.99982|
|713426358|Existing Customer|          28|     F|              0|        College|       Married|        Unknown|         Blue|            36|                       3|                     2|                    3|      5685.0|                  0|         5685.0|               1.334|           2395|            62|                1.0|                  0.0|                                                                                                                         1.5971E-4|                                                                                                                           0.99984|
|770937183|Existing Customer|          40|     F|              4|       Graduate|        Single| Less than $40K|       Silver|            27|                       3|                     1|                    2|     10745.0|               2084|         8661.0|               0.847|           3502|            87|              0.933|                0.194|                                                                                                                         5.2192E-5|                                                                                                                           0.99995|
|789430083|Existing Customer|          41|     F|              5|    High School|        Single|    $40K - $60K|         Blue|            32|                       6|                     1|                    2|     14987.0|               1425|        13562.0|                 0.8|           4470|            83|              0.844|                0.095|                                                                                                                         5.5277E-5|                                                                                                                           0.99994|
|827476983|Attrited Customer|          56|     F|              2|        College|        Single| Less than $40K|         Blue|            52|                       3|                     5|                    1|      3639.0|               2178|         1461.0|               0.451|           1865|            42|                0.5|                0.599|                                                                                                                           0.99158|                                                                                                                           0.00842|
|816261858|Attrited Customer|          61|     M|              0|       Graduate|        Single|    $40K - $60K|         Blue|            56|                       2|                     5|                    4|      3984.0|               2245|         1739.0|               0.612|           1821|            39|              0.696|                0.564|                                                                                                                           0.99798|                                                                                                                        0.00201684|
|716714733|Existing Customer|          41|     M|              3|       Graduate|        Single|   $80K - $120K|         Blue|            30|                       3|                     2|                    0|      3460.0|                955|         2505.0|               0.644|           3642|            69|              0.769|                0.276|                                                                                                                         4.3568E-5|                                                                                                                           0.99996|
|785529708|Existing Customer|          59|     M|              1|       Graduate|        Single|        $120K +|         Blue|            53|                       6|                     2|                    2|     34516.0|                  0|        34516.0|               0.711|           4333|            70|              0.628|                  0.0|                                                                                                                         1.0684E-4|                                                                                                                           0.99989|
|771790083|Existing Customer|          43|     F|              3|        Unknown|       Married| Less than $40K|       Silver|            32|                       4|                     3|                    2|     10466.0|               2080|         8386.0|               0.648|           4116|            64|              0.684|                0.199|                                                                                                                         1.8538E-4|                                                                                                                           0.99981|
|720519333|Attrited Customer|          59|     F|              2|        Unknown|        Single|        Unknown|         Blue|            45|                       1|                     3|                    3|      2721.0|               1885|          836.0|               0.853|           2594|            48|              0.455|                0.693|                                                                                                                             0.997|                                                                                                                        0.00299743|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [6]:
#Drooping NA in the dataframe
df.na.drop(how='all').show()

+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|CLIENTNUM|   Attrition_Flag|Customer_Age|Gender|Dependent_count|Education_Level|Marital_Status|Income_Category|Card_Category|Months_on_book|Total_Relationship_Count|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|768805383|Existing Customer|          45|     M|              3|    High School|       Married|    $60K - $80K|         Blue|            39|                       5|                     1|                    3|     12691.0|                777|        11914.0|               1.335|           1144|            42|              1.625|                0.061|                                                                                                                         9.3448E-5|                                                                                                                           0.99991|
|818770008|Existing Customer|          49|     F|              5|       Graduate|        Single| Less than $40K|         Blue|            44|                       6|                     1|                    2|      8256.0|                864|         7392.0|               1.541|           1291|            33|              3.714|                0.105|                                                                                                                         5.6861E-5|                                                                                                                           0.99994|
|713982108|Existing Customer|          51|     M|              3|       Graduate|       Married|   $80K - $120K|         Blue|            36|                       4|                     1|                    0|      3418.0|                  0|         3418.0|               2.594|           1887|            20|              2.333|                  0.0|                                                                                                                         2.1081E-5|                                                                                                                           0.99998|
|769911858|Existing Customer|          40|     F|              4|    High School|       Unknown| Less than $40K|         Blue|            34|                       3|                     4|                    1|      3313.0|               2517|          796.0|               1.405|           1171|            20|              2.333|                 0.76|                                                                                                                         1.3366E-4|                                                                                                                           0.99987|
|709106358|Existing Customer|          40|     M|              3|     Uneducated|       Married|    $60K - $80K|         Blue|            21|                       5|                     1|                    0|      4716.0|                  0|         4716.0|               2.175|            816|            28|                2.5|                  0.0|                                                                                                                         2.1676E-5|                                                                                                                           0.99998|
|713061558|Existing Customer|          44|     M|              2|       Graduate|       Married|    $40K - $60K|         Blue|            36|                       3|                     1|                    2|      4010.0|               1247|         2763.0|               1.376|           1088|            24|              0.846|                0.311|                                                                                                                         5.5077E-5|                                                                                                                           0.99994|
|810347208|Existing Customer|          51|     M|              4|        Unknown|       Married|        $120K +|         Gold|            46|                       6|                     1|                    3|     34516.0|               2264|        32252.0|               1.975|           1330|            31|              0.722|                0.066|                                                                                                                         1.2303E-4|                                                                                                                           0.99988|
|818906208|Existing Customer|          32|     M|              0|    High School|       Unknown|    $60K - $80K|       Silver|            27|                       2|                     2|                    2|     29081.0|               1396|        27685.0|               2.204|           1538|            36|              0.714|                0.048|                                                                                                                         8.5795E-5|                                                                                                                           0.99991|
|710930508|Existing Customer|          37|     M|              3|     Uneducated|        Single|    $60K - $80K|         Blue|            36|                       5|                     2|                    0|     22352.0|               2517|        19835.0|               3.355|           1350|            24|              1.182|                0.113|                                                                                                                         4.4796E-5|                                                                                                                           0.99996|
|719661558|Existing Customer|          48|     M|              2|       Graduate|        Single|   $80K - $120K|         Blue|            36|                       6|                     3|                    3|     11656.0|               1677|         9979.0|               1.524|           1441|            32|              0.882|                0.144|                                                                                                                         3.0251E-4|                                                                                                                            0.9997|
|708790833|Existing Customer|          42|     M|              5|     Uneducated|       Unknown|        $120K +|         Blue|            31|                       5|                     3|                    2|      6748.0|               1467|         5281.0|               0.831|           1201|            42|               0.68|                0.217|                                                                                                                         1.9094E-4|                                                                                                                           0.99981|
|710821833|Existing Customer|          65|     M|              1|        Unknown|       Married|    $40K - $60K|         Blue|            54|                       6|                     2|                    3|      9095.0|               1587|         7508.0|               1.433|           1314|            26|              1.364|                0.174|                                                                                                                         1.9751E-4|                                                                                                                            0.9998|
|710599683|Existing Customer|          56|     M|              1|        College|        Single|   $80K - $120K|         Blue|            36|                       3|                     6|                    0|     11751.0|                  0|        11751.0|               3.397|           1539|            17|               3.25|                  0.0|                                                                                                                         4.7799E-5|                                                                                                                           0.99995|
|816082233|Existing Customer|          35|     M|              3|       Graduate|       Unknown|    $60K - $80K|         Blue|            30|                       5|                     1|                    3|      8547.0|               1666|         6881.0|               1.163|           1311|            33|                2.0|                0.195|                                                                                                                         9.6126E-5|                                                                                                                            0.9999|
|712396908|Existing Customer|          57|     F|              2|       Graduate|       Married| Less than $40K|         Blue|            48|                       5|                     2|                    2|      2436.0|                680|         1756.0|                1.19|           1570|            29|              0.611|                0.279|                                                                                                                         1.1382E-4|                                                                                                                           0.99989|
|714885258|Existing Customer|          44|     M|              4|        Unknown|       Unknown|   $80K - $120K|         Blue|            37|                       5|                     1|                    2|      4234.0|                972|         3262.0|               1.707|           1348|            27|                1.7|                 0.23|                                                                                                                         6.3492E-5|                                                                                                                           0.99994|
|709967358|Existing Customer|          48|     M|              4|  Post-Graduate|        Single|   $80K - $120K|         Blue|            36|                       6|                     2|                    3|     30367.0|               2362|        28005.0|               1.708|           1671|            27|              0.929|                0.078|                                                                                                                         2.3623E-4|                                                                                                                           0.99976|
|753327333|Existing Customer|          41|     M|              3|        Unknown|       Married|   $80K - $120K|         Blue|            34|                       4|                     4|                    1|     13535.0|               1291|        12244.0|               0.653|           1028|            21|              1.625|                0.095|                                                                                                                         1.4953E-4|                                                                                                                           0.99985|
|806160108|Existing Customer|          61|     M|              1|    High School|       Married|    $40K - $60K|         Blue|            56|                       2|                     2|                    3|      3193.0|               2517|          676.0|               1.831|           1336|            30|              1.143|                0.788|                                                                                                                         1.7468E-4|                                                                                                                           0.99983|
|709327383|Existing Customer|          45|     F|              2|       Graduate|       Married|        Unknown|         Blue|            37|                       6|                     1|                    2|     14470.0|               1157|        13313.0|               0.966|           1207|            21|              0.909|                 0.08|                                                                                                                         5.5077E-5|                                                                                                                           0.99994|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [7]:
#Showing the head of the dataframe
df.show(10)

#Displaying the tail of the dataframe
df.tail(10)
df.show()

+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|CLIENTNUM|   Attrition_Flag|Customer_Age|Gender|Dependent_count|Education_Level|Marital_Status|Income_Category|Card_Category|Months_on_book|Total_Relationship_Count|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|768805383|Existing Customer|          45|     M|              3|    High School|       Married|    $60K - $80K|         Blue|            39|                       5|                     1|                    3|     12691.0|                777|        11914.0|               1.335|           1144|            42|              1.625|                0.061|                                                                                                                         9.3448E-5|                                                                                                                           0.99991|
|818770008|Existing Customer|          49|     F|              5|       Graduate|        Single| Less than $40K|         Blue|            44|                       6|                     1|                    2|      8256.0|                864|         7392.0|               1.541|           1291|            33|              3.714|                0.105|                                                                                                                         5.6861E-5|                                                                                                                           0.99994|
|713982108|Existing Customer|          51|     M|              3|       Graduate|       Married|   $80K - $120K|         Blue|            36|                       4|                     1|                    0|      3418.0|                  0|         3418.0|               2.594|           1887|            20|              2.333|                  0.0|                                                                                                                         2.1081E-5|                                                                                                                           0.99998|
|769911858|Existing Customer|          40|     F|              4|    High School|       Unknown| Less than $40K|         Blue|            34|                       3|                     4|                    1|      3313.0|               2517|          796.0|               1.405|           1171|            20|              2.333|                 0.76|                                                                                                                         1.3366E-4|                                                                                                                           0.99987|
|709106358|Existing Customer|          40|     M|              3|     Uneducated|       Married|    $60K - $80K|         Blue|            21|                       5|                     1|                    0|      4716.0|                  0|         4716.0|               2.175|            816|            28|                2.5|                  0.0|                                                                                                                         2.1676E-5|                                                                                                                           0.99998|
|713061558|Existing Customer|          44|     M|              2|       Graduate|       Married|    $40K - $60K|         Blue|            36|                       3|                     1|                    2|      4010.0|               1247|         2763.0|               1.376|           1088|            24|              0.846|                0.311|                                                                                                                         5.5077E-5|                                                                                                                           0.99994|
|810347208|Existing Customer|          51|     M|              4|        Unknown|       Married|        $120K +|         Gold|            46|                       6|                     1|                    3|     34516.0|               2264|        32252.0|               1.975|           1330|            31|              0.722|                0.066|                                                                                                                         1.2303E-4|                                                                                                                           0.99988|
|818906208|Existing Customer|          32|     M|              0|    High School|       Unknown|    $60K - $80K|       Silver|            27|                       2|                     2|                    2|     29081.0|               1396|        27685.0|               2.204|           1538|            36|              0.714|                0.048|                                                                                                                         8.5795E-5|                                                                                                                           0.99991|
|710930508|Existing Customer|          37|     M|              3|     Uneducated|        Single|    $60K - $80K|         Blue|            36|                       5|                     2|                    0|     22352.0|               2517|        19835.0|               3.355|           1350|            24|              1.182|                0.113|                                                                                                                         4.4796E-5|                                                                                                                           0.99996|
|719661558|Existing Customer|          48|     M|              2|       Graduate|        Single|   $80K - $120K|         Blue|            36|                       6|                     3|                    3|     11656.0|               1677|         9979.0|               1.524|           1441|            32|              0.882|                0.144|                                                                                                                         3.0251E-4|                                                                                                                            0.9997|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|CLIENTNUM|   Attrition_Flag|Customer_Age|Gender|Dependent_count|Education_Level|Marital_Status|Income_Category|Card_Category|Months_on_book|Total_Relationship_Count|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|768805383|Existing Customer|          45|     M|              3|    High School|       Married|    $60K - $80K|         Blue|            39|                       5|                     1|                    3|     12691.0|                777|        11914.0|               1.335|           1144|            42|              1.625|                0.061|                                                                                                                         9.3448E-5|                                                                                                                           0.99991|
|818770008|Existing Customer|          49|     F|              5|       Graduate|        Single| Less than $40K|         Blue|            44|                       6|                     1|                    2|      8256.0|                864|         7392.0|               1.541|           1291|            33|              3.714|                0.105|                                                                                                                         5.6861E-5|                                                                                                                           0.99994|
|713982108|Existing Customer|          51|     M|              3|       Graduate|       Married|   $80K - $120K|         Blue|            36|                       4|                     1|                    0|      3418.0|                  0|         3418.0|               2.594|           1887|            20|              2.333|                  0.0|                                                                                                                         2.1081E-5|                                                                                                                           0.99998|
|769911858|Existing Customer|          40|     F|              4|    High School|       Unknown| Less than $40K|         Blue|            34|                       3|                     4|                    1|      3313.0|               2517|          796.0|               1.405|           1171|            20|              2.333|                 0.76|                                                                                                                         1.3366E-4|                                                                                                                           0.99987|
|709106358|Existing Customer|          40|     M|              3|     Uneducated|       Married|    $60K - $80K|         Blue|            21|                       5|                     1|                    0|      4716.0|                  0|         4716.0|               2.175|            816|            28|                2.5|                  0.0|                                                                                                                         2.1676E-5|                                                                                                                           0.99998|
|713061558|Existing Customer|          44|     M|              2|       Graduate|       Married|    $40K - $60K|         Blue|            36|                       3|                     1|                    2|      4010.0|               1247|         2763.0|               1.376|           1088|            24|              0.846|                0.311|                                                                                                                         5.5077E-5|                                                                                                                           0.99994|
|810347208|Existing Customer|          51|     M|              4|        Unknown|       Married|        $120K +|         Gold|            46|                       6|                     1|                    3|     34516.0|               2264|        32252.0|               1.975|           1330|            31|              0.722|                0.066|                                                                                                                         1.2303E-4|                                                                                                                           0.99988|
|818906208|Existing Customer|          32|     M|              0|    High School|       Unknown|    $60K - $80K|       Silver|            27|                       2|                     2|                    2|     29081.0|               1396|        27685.0|               2.204|           1538|            36|              0.714|                0.048|                                                                                                                         8.5795E-5|                                                                                                                           0.99991|
|710930508|Existing Customer|          37|     M|              3|     Uneducated|        Single|    $60K - $80K|         Blue|            36|                       5|                     2|                    0|     22352.0|               2517|        19835.0|               3.355|           1350|            24|              1.182|                0.113|                                                                                                                         4.4796E-5|                                                                                                                           0.99996|
|719661558|Existing Customer|          48|     M|              2|       Graduate|        Single|   $80K - $120K|         Blue|            36|                       6|                     3|                    3|     11656.0|               1677|         9979.0|               1.524|           1441|            32|              0.882|                0.144|                                                                                                                         3.0251E-4|                                                                                                                            0.9997|
|708790833|Existing Customer|          42|     M|              5|     Uneducated|       Unknown|        $120K +|         Blue|            31|                       5|                     3|                    2|      6748.0|               1467|         5281.0|               0.831|           1201|            42|               0.68|                0.217|                                                                                                                         1.9094E-4|                                                                                                                           0.99981|
|710821833|Existing Customer|          65|     M|              1|        Unknown|       Married|    $40K - $60K|         Blue|            54|                       6|                     2|                    3|      9095.0|               1587|         7508.0|               1.433|           1314|            26|              1.364|                0.174|                                                                                                                         1.9751E-4|                                                                                                                            0.9998|
|710599683|Existing Customer|          56|     M|              1|        College|        Single|   $80K - $120K|         Blue|            36|                       3|                     6|                    0|     11751.0|                  0|        11751.0|               3.397|           1539|            17|               3.25|                  0.0|                                                                                                                         4.7799E-5|                                                                                                                           0.99995|
|816082233|Existing Customer|          35|     M|              3|       Graduate|       Unknown|    $60K - $80K|         Blue|            30|                       5|                     1|                    3|      8547.0|               1666|         6881.0|               1.163|           1311|            33|                2.0|                0.195|                                                                                                                         9.6126E-5|                                                                                                                            0.9999|
|712396908|Existing Customer|          57|     F|              2|       Graduate|       Married| Less than $40K|         Blue|            48|                       5|                     2|                    2|      2436.0|                680|         1756.0|                1.19|           1570|            29|              0.611|                0.279|                                                                                                                         1.1382E-4|                                                                                                                           0.99989|

In [76]:
credit_df= df.drop('CLIENTNUM', 'Customer_Age', 'Marital_Status',
'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2',
'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1')

credit_df.show()

+-----------------+------+---------------+---------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+
|   Attrition_Flag|Gender|Dependent_count|Education_Level|Income_Category|Card_Category|Months_on_book|Total_Relationship_Count|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|
+-----------------+------+---------------+---------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+
|Existing Customer|     M|              3|    High School|    $60K - $80K|         Blue|            39|                       5|                     1|                    3|     12691.0|                777|        11914.0|               1.335|           1144|            42|              1.625|                0.061|
|Existing Customer|     F|              5|       Graduate| Less than $40K|         Blue|            44|                       6|                     1|                    2|      8256.0|                864|         7392.0|               1.541|           1291|            33|              3.714|                0.105|
|Existing Customer|     M|              3|       Graduate|   $80K - $120K|         Blue|            36|                       4|                     1|                    0|      3418.0|                  0|         3418.0|               2.594|           1887|            20|              2.333|                  0.0|
|Existing Customer|     F|              4|    High School| Less than $40K|         Blue|            34|                       3|                     4|                    1|      3313.0|               2517|          796.0|               1.405|           1171|            20|              2.333|                 0.76|
|Existing Customer|     M|              3|     Uneducated|    $60K - $80K|         Blue|            21|                       5|                     1|                    0|      4716.0|                  0|         4716.0|               2.175|            816|            28|                2.5|                  0.0|
|Existing Customer|     M|              2|       Graduate|    $40K - $60K|         Blue|            36|                       3|                     1|                    2|      4010.0|               1247|         2763.0|               1.376|           1088|            24|              0.846|                0.311|
|Existing Customer|     M|              4|        Unknown|        $120K +|         Gold|            46|                       6|                     1|                    3|     34516.0|               2264|        32252.0|               1.975|           1330|            31|              0.722|                0.066|
|Existing Customer|     M|              0|    High School|    $60K - $80K|       Silver|            27|                       2|                     2|                    2|     29081.0|               1396|        27685.0|               2.204|           1538|            36|              0.714|                0.048|
|Existing Customer|     M|              3|     Uneducated|    $60K - $80K|         Blue|            36|                       5|                     2|                    0|     22352.0|               2517|        19835.0|               3.355|           1350|            24|              1.182|                0.113|
|Existing Customer|     M|              2|       Graduate|   $80K - $120K|         Blue|            36|                       6|                     3|                    3|     11656.0|               1677|         9979.0|               1.524|           1441|            32|              0.882|                0.144|
|Existing Customer|     M|              5|     Uneducated|        $120K +|         Blue|            31|                       5|                     3|                    2|      6748.0|               1467|         5281.0|               0.831|           1201|            42|               0.68|                0.217|
|Existing Customer|     M|              1|        Unknown|    $40K - $60K|         Blue|            54|                       6|                     2|                    3|      9095.0|               1587|         7508.0|               1.433|           1314|            26|              1.364|                0.174|
|Existing Customer|     M|              1|        College|   $80K - $120K|         Blue|            36|                       3|                     6|                    0|     11751.0|                  0|        11751.0|               3.397|           1539|            17|               3.25|                  0.0|
|Existing Customer|     M|              3|       Graduate|    $60K - $80K|         Blue|            30|                       5|                     1|                    3|      8547.0|               1666|         6881.0|               1.163|           1311|            33|                2.0|                0.195|
|Existing Customer|     F|              2|       Graduate| Less than $40K|         Blue|            48|                       5|                     2|                    2|      2436.0|                680|         1756.0|                1.19|           1570|            29|              0.611|                0.279|
|Existing Customer|     M|              4|        Unknown|   $80K - $120K|         Blue|            37|                       5|                     1|                    2|      4234.0|                972|         3262.0|               1.707|           1348|            27|                1.7|                 0.23|
|Existing Customer|     M|              4|  Post-Graduate|   $80K - $120K|         Blue|            36|                       6|                     2|                    3|     30367.0|               2362|        28005.0|               1.708|           1671|            27|              0.929|                0.078|
|Existing Customer|     M|              3|        Unknown|   $80K - $120K|         Blue|            34|                       4|                     4|                    1|     13535.0|               1291|        12244.0|               0.653|           1028|            21|              1.625|                0.095|
|Existing Customer|     M|              1|    High School|    $40K - $60K|         Blue|            56|                       2|                     2|                    3|      3193.0|               2517|          676.0|               1.831|           1336|            30|              1.143|                0.788|
|Existing Customer|     F|              2|       Graduate|        Unknown|         Blue|            37|                       6|                     1|                    2|     14470.0|               1157|        13313.0|               0.966|           1207|            21|              0.909|                 0.08|
+-----------------+------+---------------+---------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+
only showing top 20 rows

In [77]:
#Create a temporary view
credit_df.createOrReplaceTempView("bank")

**Demographic Data to Analyze**

**Gender**

In [78]:
gender = spark.sql("""
SELECT
  Attrition_Flag as Flag,
  Gender,
  COUNT(Attrition_Flag) as Count
FROM
  bank
WHERE
  Gender IN ('F', 'M')
GROUP BY
  Attrition_Flag,
  Gender
""")

gender.show()

gendercount = spark.sql("""
SELECT
  Attrition_Flag as Flag,
  COUNT(*) as Count
FROM
  bank
WHERE
  Gender IN ('F', 'M')
GROUP BY
  Attrition_Flag
""")

gendercount.show()

+-----------------+------+-----+
|             Flag|Gender|Count|
+-----------------+------+-----+
|Existing Customer|     F| 4428|
|Attrited Customer|     F|  930|
|Existing Customer|     M| 4072|
|Attrited Customer|     M|  697|
+-----------------+------+-----+

+-----------------+-----+
|             Flag|Count|
+-----------------+-----+
|Existing Customer| 8500|
|Attrited Customer| 1627|
+-----------------+-----+

**Dependent Count**

In [79]:
dependent_count= spark.sql("""
SELECT
  Attrition_Flag as Flag,
  COUNT(*) as DependentCount,
  CASE
    WHEN Dependent_count BETWEEN 0 AND 5 THEN '0-5'
    ELSE 'Other'
  END AS DependentRange
FROM
  bank
GROUP BY
  Attrition_Flag,
  CASE
    WHEN Dependent_count BETWEEN 0 AND 5 THEN '0-5'
    ELSE 'Other'
  END
ORDER BY
  DependentRange
""")
dependent_count.show()

+-----------------+--------------+--------------+
|             Flag|DependentCount|DependentRange|
+-----------------+--------------+--------------+
|Attrited Customer|          1627|           0-5|
|Existing Customer|          8500|           0-5|
+-----------------+--------------+--------------+

**Education**

In [80]:
education = spark.sql("""
SELECT
  Attrition_Flag as Flag,
  Education_Level as Education,
  COUNT(Education_Level) as EducationCount
FROM
  bank
GROUP BY
  Attrition_Flag,
  Education_Level
ORDER BY
  EducationCount
""")
education.show()

+-----------------+-------------+--------------+
|             Flag|    Education|EducationCount|
+-----------------+-------------+--------------+
|Attrited Customer|Post-Graduate|            92|
|Attrited Customer|    Doctorate|            95|
|Attrited Customer|      College|           154|
|Attrited Customer|   Uneducated|           237|
|Attrited Customer|      Unknown|           256|
|Attrited Customer|  High School|           306|
|Existing Customer|    Doctorate|           356|
|Existing Customer|Post-Graduate|           424|
|Attrited Customer|     Graduate|           487|
|Existing Customer|      College|           859|
|Existing Customer|   Uneducated|          1250|
|Existing Customer|      Unknown|          1263|
|Existing Customer|  High School|          1707|
|Existing Customer|     Graduate|          2641|
+-----------------+-------------+--------------+

**Income Category**

In [82]:
income = spark.sql("""
SELECT
  Attrition_Flag as Flag,
  Income_Category as Income,
  COUNT(*) as IncomeCount
FROM
  bank
GROUP BY
  Attrition_Flag,
  Income_Category
ORDER BY
  IncomeCount
""")

income.show()

+-----------------+--------------+-----------+
|             Flag|        Income|IncomeCount|
+-----------------+--------------+-----------+
|Attrited Customer|       $120K +|        126|
|Attrited Customer|       Unknown|        187|
|Attrited Customer|   $60K - $80K|        189|
|Attrited Customer|  $80K - $120K|        242|
|Attrited Customer|   $40K - $60K|        271|
|Existing Customer|       $120K +|        601|
|Attrited Customer|Less than $40K|        612|
|Existing Customer|       Unknown|        925|
|Existing Customer|   $60K - $80K|       1213|
|Existing Customer|  $80K - $120K|       1293|
|Existing Customer|   $40K - $60K|       1519|
|Existing Customer|Less than $40K|       2949|
+-----------------+--------------+-----------+

**Behavioral (Bank) Data**

**Months on book**

In [14]:
month_book = spark.sql("""SELECT
  Attrition_Flag as Flag,
  Months_on_book as Months,
  COUNT(*) as MonthsCount
FROM
  bank
GROUP BY
  Attrition_Flag,
  Months_on_book
ORDER BY
  Months
""")
month_book.show()

+-----------------+------+-----------+
|             Flag|Months|MonthsCount|
+-----------------+------+-----------+
|Existing Customer|    13|         63|
|Attrited Customer|    13|          7|
|Existing Customer|    14|         15|
|Attrited Customer|    14|          1|
|Existing Customer|    15|         25|
|Attrited Customer|    15|          9|
|Existing Customer|    16|         26|
|Attrited Customer|    16|          3|
|Attrited Customer|    17|          4|
|Existing Customer|    17|         35|
|Attrited Customer|    18|         13|
|Existing Customer|    18|         45|
|Attrited Customer|    19|          6|
|Existing Customer|    19|         57|
|Attrited Customer|    20|         13|
|Existing Customer|    20|         61|
|Attrited Customer|    21|         10|
|Existing Customer|    21|         73|
|Attrited Customer|    22|         20|
|Existing Customer|    22|         85|
+-----------------+------+-----------+
only showing top 20 rows

**Total Relationsip Count**

In [15]:
total_relationship = spark.sql("""SELECT
  Attrition_Flag as Flag,
  Total_Relationship_Count as TotalRelationship,
  COUNT(*) as MonthsCount
FROM
  bank
GROUP BY
  Attrition_Flag,
  Total_Relationship_Count
ORDER BY
  TotalRelationship
""")
total_relationship.show()

+-----------------+-----------------+-----------+
|             Flag|TotalRelationship|MonthsCount|
+-----------------+-----------------+-----------+
|Existing Customer|                1|        677|
|Attrited Customer|                1|        233|
|Existing Customer|                2|        897|
|Attrited Customer|                2|        346|
|Attrited Customer|                3|        400|
|Existing Customer|                3|       1905|
|Attrited Customer|                4|        225|
|Existing Customer|                4|       1687|
|Existing Customer|                5|       1664|
|Attrited Customer|                5|        227|
|Existing Customer|                6|       1670|
|Attrited Customer|                6|        196|
+-----------------+-----------------+-----------+

**Months Inactive 12 months**

In [16]:
months_inactive = spark.sql("""SELECT
  Attrition_Flag as Flag,
  Months_Inactive_12_mon as MonthsInactive,
  COUNT(*) as InactiveCount
FROM
  bank
GROUP BY
  Attrition_Flag,
  Months_Inactive_12_mon
ORDER BY
  MonthsInactive
""")
months_inactive.show()

+-----------------+--------------+-------------+
|             Flag|MonthsInactive|InactiveCount|
+-----------------+--------------+-------------+
|Existing Customer|             0|           14|
|Attrited Customer|             0|           15|
|Existing Customer|             1|         2133|
|Attrited Customer|             1|          100|
|Existing Customer|             2|         2777|
|Attrited Customer|             2|          505|
|Attrited Customer|             3|          826|
|Existing Customer|             3|         3020|
|Attrited Customer|             4|          130|
|Existing Customer|             4|          305|
|Existing Customer|             5|          146|
|Attrited Customer|             5|           32|
|Existing Customer|             6|          105|
|Attrited Customer|             6|           19|
+-----------------+--------------+-------------+

**Contacts Count 12 months**

In [17]:
contacts = spark.sql("""SELECT
  Attrition_Flag as Flag,
  Contacts_Count_12_mon as Contact,
  COUNT(*) as MonthsCount
FROM
  bank
GROUP BY
  Attrition_Flag,
  Contacts_Count_12_mon
ORDER BY
  Contact
""")
contacts.show()

+-----------------+-------+-----------+
|             Flag|Contact|MonthsCount|
+-----------------+-------+-----------+
|Existing Customer|      0|        392|
|Attrited Customer|      0|          7|
|Existing Customer|      1|       1391|
|Attrited Customer|      1|        108|
|Existing Customer|      2|       2824|
|Attrited Customer|      2|        403|
|Attrited Customer|      3|        681|
|Existing Customer|      3|       2699|
|Attrited Customer|      4|        315|
|Existing Customer|      4|       1077|
|Existing Customer|      5|        117|
|Attrited Customer|      5|         59|
|Attrited Customer|      6|         54|
+-----------------+-------+-----------+

**Credit Limit**

In [18]:
credit = spark.sql("""SELECT
  Attrition_Flag as Flag,
  Credit_Limit as CreditLimit,
  COUNT(*) as CreditCount
FROM
  bank
GROUP BY
  Attrition_Flag,
  Credit_Limit
ORDER BY
  CreditCount
""")
credit.show()

+-----------------+-----------+-----------+
|             Flag|CreditLimit|CreditCount|
+-----------------+-----------+-----------+
|Existing Customer|    23665.0|          1|
|Existing Customer|    12932.0|          1|
|Attrited Customer|     1491.0|          1|
|Existing Customer|    14035.0|          1|
|Attrited Customer|    11422.0|          1|
|Existing Customer|     4844.0|          1|
|Existing Customer|     4135.0|          1|
|Existing Customer|     5478.0|          1|
|Attrited Customer|     2066.0|          1|
|Existing Customer|     1525.0|          1|
|Existing Customer|     6966.0|          1|
|Existing Customer|    19999.0|          1|
|Existing Customer|    18379.0|          1|
|Existing Customer|     5443.0|          1|
|Existing Customer|     7264.0|          1|
|Existing Customer|     7112.0|          1|
|Existing Customer|     1671.0|          1|
|Existing Customer|     5585.0|          1|
|Attrited Customer|     5557.0|          1|
|Existing Customer|    25666.0|          1|
+-----------------+-----------+-----------+
only showing top 20 rows

**Total Trans Amt**

In [19]:
total_amt = spark.sql("""SELECT
  Attrition_Flag as Flag,
  Total_Trans_Amt as TotalTrans,
  COUNT(*) as TransCount
FROM
  bank
GROUP BY
  Attrition_Flag,
  Total_Trans_Amt
ORDER BY
  TotalTrans
""")
total_amt.show()

+-----------------+----------+----------+
|             Flag|TotalTrans|TransCount|
+-----------------+----------+----------+
|Attrited Customer|       510|         1|
|Attrited Customer|       530|         1|
|Attrited Customer|       563|         1|
|Attrited Customer|       569|         1|
|Attrited Customer|       594|         1|
|Attrited Customer|       596|         1|
|Attrited Customer|       597|         1|
|Attrited Customer|       602|         1|
|Attrited Customer|       615|         1|
|Attrited Customer|       643|         1|
|Attrited Customer|       644|         1|
|Attrited Customer|       646|         1|
|Attrited Customer|       647|         2|
|Attrited Customer|       654|         1|
|Attrited Customer|       660|         1|
|Attrited Customer|       673|         1|
|Attrited Customer|       678|         1|
|Attrited Customer|       683|         1|
|Attrited Customer|       687|         1|
|Attrited Customer|       689|         1|
+-----------------+----------+----------+
only showing top 20 rows

**Total Trans Count**

In [20]:
total_count = spark.sql("""SELECT
  Attrition_Flag as Flag,
  Total_Trans_Ct as TotalTransCount,
  COUNT(*) as CountTotalTrans
FROM
  bank
GROUP BY
  Attrition_Flag,
  Total_Trans_Ct
ORDER BY
  TotalTransCount
""")
total_count.show()

+-----------------+---------------+---------------+
|             Flag|TotalTransCount|CountTotalTrans|
+-----------------+---------------+---------------+
|Attrited Customer|             10|              4|
|Attrited Customer|             11|              1|
|Existing Customer|             11|              1|
|Attrited Customer|             12|              4|
|Existing Customer|             13|              2|
|Attrited Customer|             13|              3|
|Existing Customer|             14|              1|
|Attrited Customer|             14|              8|
|Existing Customer|             15|              4|
|Attrited Customer|             15|             12|
|Existing Customer|             16|              5|
|Attrited Customer|             16|              8|
|Attrited Customer|             17|             10|
|Existing Customer|             17|              3|
|Attrited Customer|             18|             15|
|Existing Customer|             18|              8|
|Attrited Customer|             19|              7|
|Existing Customer|             19|              4|
|Attrited Customer|             20|              9|
|Existing Customer|             20|             10|
+-----------------+---------------+---------------+
only showing top 20 rows

In [21]:
from pyspark.sql import functions as F
from pyspark.sql import types as T


#Gives a label to each category
#creates onehot encoding vector
from pyspark.ml.feature import StringIndexer, OneHotEncoder

#Used to creat vector from features and modeling takes vector as an input
from pyspark.ml.feature import VectorAssembler

#Used for classification problems
from pyspark.ml.classification import DecisionTreeClassifier

In [88]:
attrition_df = credit_df.withColumn("Attrition_Flag", F.when(F.col("Attrition_Flag") =='Attrited Customer', 0).otherwise(1))
card_df = credit_df.withColumn(
    "Card_Category",
    F.when(F.col("Card_Category") == 'Blue', 0)
     .when(F.col("Card_Category") == 'Gold', 1)
     .when(F.col("Card_Category") == 'Platinum', 3)
     .when(F.col("Card_Category") == 'Silver', 4)
     .otherwise(F.col("Card_Category"))  # handle unexpected values
)
attrition_df.show(3, truncate=False)

attrition_df.groupby("Attrition_Flag").count().show()
card_df.groupby("Card_Category").count().show()

+--------------+------+---------------+---------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+
|Attrition_Flag|Gender|Dependent_count|Education_Level|Income_Category|Card_Category|Months_on_book|Total_Relationship_Count|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|
+--------------+------+---------------+---------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+
|1             |M     |3              |High School    |$60K - $80K    |Blue         |39            |5                       |1                     |3                    |12691.0     |777                |11914.0        |1.335               |1144           |42            |1.625              |0.061                |
|1             |F     |5              |Graduate       |Less than $40K |Blue         |44            |6                       |1                     |2                    |8256.0      |864                |7392.0         |1.541               |1291           |33            |3.714              |0.105                |
|1             |M     |3              |Graduate       |$80K - $120K   |Blue         |36            |4                       |1                     |0                    |3418.0      |0                  |3418.0         |2.594               |1887           |20            |2.333              |0.0                  |
+--------------+------+---------------+---------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+
only showing top 3 rows

+--------------+-----+
|Attrition_Flag|count|
+--------------+-----+
|             1| 8500|
|             0| 1627|
+--------------+-----+

+-------------+-----+
|Card_Category|count|
+-------------+-----+
|            3|   20|
|            0| 9436|
|            1|  116|
|            4|  555|
+-------------+-----+

**1st Modeling**

In [93]:
(train_df, test_df) = attrition_df.randomSplit([0.8, 0.2], 11)
(train_df, test_df) = card_df.randomSplit([0.8, 0.2], 11)
print("Number of train samples: " + str(train_df.count()))
print("Number of test samples: " + str(test_df.count()))

Number of train samples: 8102
Number of test samples: 2025

In [95]:
# Apply StringIndexer to the Attrition_Flag column
attrition_indexer = StringIndexer(inputCol="Attrition_Flag", outputCol="Attrition_Flag_Index")
indexed_df = attrition_indexer.fit(credit_df).transform(credit_df)

# Apply StringIndexer to the Card_Category column
card_indexer = StringIndexer(inputCol="Card_Category", outputCol="Card_Category_Index")
indexed_df = card_indexer.fit(indexed_df).transform(indexed_df)

# Show the transformed DataFrame
indexed_df.show(truncate=False)

+-----------------+------+---------------+---------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+--------------------+-------------------+
|Attrition_Flag   |Gender|Dependent_count|Education_Level|Income_Category|Card_Category|Months_on_book|Total_Relationship_Count|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|Attrition_Flag_Index|Card_Category_Index|
+-----------------+------+---------------+---------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+--------------------+-------------------+
|Existing Customer|M     |3              |High School    |$60K - $80K    |Blue         |39            |5                       |1                     |3                    |12691.0     |777                |11914.0        |1.335               |1144           |42            |1.625              |0.061                |0.0                 |0.0                |
|Existing Customer|F     |5              |Graduate       |Less than $40K |Blue         |44            |6                       |1                     |2                    |8256.0      |864                |7392.0         |1.541               |1291           |33            |3.714              |0.105                |0.0                 |0.0                |
|Existing Customer|M     |3              |Graduate       |$80K - $120K   |Blue         |36            |4                       |1                     |0                    |3418.0      |0                  |3418.0         |2.594               |1887           |20            |2.333              |0.0                  |0.0                 |0.0                |
|Existing Customer|F     |4              |High School    |Less than $40K |Blue         |34            |3                       |4                     |1                    |3313.0      |2517               |796.0          |1.405               |1171           |20            |2.333              |0.76                 |0.0                 |0.0                |
|Existing Customer|M     |3              |Uneducated     |$60K - $80K    |Blue         |21            |5                       |1                     |0                    |4716.0      |0                  |4716.0         |2.175               |816            |28            |2.5                |0.0                  |0.0                 |0.0                |
|Existing Customer|M     |2              |Graduate       |$40K - $60K    |Blue         |36            |3                       |1                     |2                    |4010.0      |1247               |2763.0         |1.376               |1088           |24            |0.846              |0.311                |0.0                 |0.0                |
|Existing Customer|M     |4              |Unknown        |$120K +        |Gold         |46            |6                       |1                     |3                    |34516.0     |2264               |32252.0        |1.975               |1330           |31            |0.722              |0.066                |0.0                 |2.0                |
|Existing Customer|M     |0              |High School    |$60K - $80K    |Silver       |27            |2                       |2                     |2                    |29081.0     |1396               |27685.0        |2.204               |1538           |36            |0.714              |0.048                |0.0                 |1.0                |
|Existing Customer|M     |3              |Uneducated     |$60K - $80K    |Blue         |36            |5                       |2                     |0                    |22352.0     |2517               |19835.0        |3.355               |1350           |24            |1.182              |0.113                |0.0                 |0.0                |
|Existing Customer|M     |2              |Graduate       |$80K - $120K   |Blue         |36            |6                       |3                     |3                    |11656.0     |1677               |9979.0         |1.524               |1441           |32            |0.882              |0.144                |0.0                 |0.0                |
|Existing Customer|M     |5              |Uneducated     |$120K +        |Blue         |31            |5                       |3                     |2                    |6748.0      |1467               |5281.0         |0.831               |1201           |42            |0.68               |0.217                |0.0                 |0.0                |
|Existing Customer|M     |1              |Unknown        |$40K - $60K    |Blue         |54            |6                       |2                     |3                    |9095.0      |1587               |7508.0         |1.433               |1314           |26            |1.364              |0.174                |0.0                 |0.0                |
|Existing Customer|M     |1              |College        |$80K - $120K   |Blue         |36            |3                       |6                     |0                    |11751.0     |0                  |11751.0        |3.397               |1539           |17            |3.25               |0.0                  |0.0                 |0.0                |
|Existing Customer|M     |3              |Graduate       |$60K - $80K    |Blue         |30            |5                       |1                     |3                    |8547.0      |1666               |6881.0         |1.163               |1311           |33            |2.0                |0.195                |0.0                 |0.0                |
|Existing Customer|F     |2              |Graduate       |Less than $40K |Blue         |48            |5                       |2                     |2                    |2436.0      |680                |1756.0         |1.19                |1570           |29            |0.611              |0.279                |0.0                 |0.0                |
|Existing Customer|M     |4              |Unknown        |$80K - $120K   |Blue         |37            |5                       |1                     |2                    |4234.0      |972                |3262.0         |1.707               |1348           |27            |1.7                |0.23                 |0.0                 |0.0                |
|Existing Customer|M     |4              |Post-Graduate  |$80K - $120K   |Blue         |36            |6                       |2                     |3                    |30367.0     |2362               |28005.0        |1.708               |1671           |27            |0.929              |0.078                |0.0                 |0.0                |
|Existing Customer|M     |3              |Unknown        |$80K - $120K   |Blue         |34            |4                       |4                     |1                    |13535.0     |1291               |12244.0        |0.653               |1028           |21            |1.625              |0.095                |0.0                 |0.0                |
|Existing Customer|M     |1              |High School    |$40K - $60K    |Blue         |56            |2                       |2                     |3                    |3193.0      |2517               |676.0          |1.831               |1336           |30            |1.143              |0.788                |0.0                 |0.0                |
|Existing Customer|F     |2              |Graduate       |Unknown        |Blue         |37            |6                       |1                     |2                    |14470.0     |1157               |13313.0        |0.966               |1207           |21            |0.909              |0.08                 |0.0                 |0.0                |
+-----------------+------+---------------+---------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+--------------------+-------------------+
only showing top 20 rows

In [96]:
inputCols=[
 'Dependent_count',
 'Months_on_book',
 'Total_Relationship_Count',
 'Months_Inactive_12_mon',
 'Contacts_Count_12_mon',
 'Credit_Limit',
 'Total_Revolving_Bal',
 'Avg_Open_To_Buy',
 'Total_Amt_Chng_Q4_Q1',
 'Total_Trans_Amt',
 'Total_Trans_Ct',
 'Total_Ct_Chng_Q4_Q1',
 'Avg_Utilization_Ratio'
    ]

outputCol="features"

vector_assembler = VectorAssembler(inputCols= inputCols, outputCol=outputCol )
train_df = vector_assembler.transform(train_df)

In [97]:
train_df.show(3, truncate=False)

+-----------------+------+---------------+---------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+-------------------------------------------------------------------------+
|Attrition_Flag   |Gender|Dependent_count|Education_Level|Income_Category|Card_Category|Months_on_book|Total_Relationship_Count|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|features                                                                 |
+-----------------+------+---------------+---------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+-------------------------------------------------------------------------+
|Attrited Customer|F     |0              |College        |$40K - $60K    |0            |30            |5                       |2                     |3                    |1438.3      |1223               |215.3          |0.491               |2181           |43            |0.593              |0.85                 |[0.0,30.0,5.0,2.0,3.0,1438.3,1223.0,215.3,0.491,2181.0,43.0,0.593,0.85]  |
|Attrited Customer|F     |0              |College        |Less than $40K |0            |19            |2                       |1                     |2                    |3261.0      |2517               |744.0          |0.636               |2461           |54            |0.742              |0.772                |[0.0,19.0,2.0,1.0,2.0,3261.0,2517.0,744.0,0.636,2461.0,54.0,0.742,0.772] |
|Attrited Customer|F     |0              |College        |Less than $40K |0            |40            |5                       |4                     |2                    |7499.0      |1083               |6416.0         |0.716               |2478           |45            |0.667              |0.144                |[0.0,40.0,5.0,4.0,2.0,7499.0,1083.0,6416.0,0.716,2478.0,45.0,0.667,0.144]|
+-----------------+------+---------------+---------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+-------------------------------------------------------------------------+
only showing top 3 rows

In [98]:
modeling_df = train_df.select(['features', 'Attrition_Flag'])
modeling_df.show()

modeling_df.tail(10)
modeling_df.show()

+--------------------+-----------------+
|            features|   Attrition_Flag|
+--------------------+-----------------+
|[0.0,30.0,5.0,2.0...|Attrited Customer|
|[0.0,19.0,2.0,1.0...|Attrited Customer|
|[0.0,40.0,5.0,4.0...|Attrited Customer|
|[0.0,56.0,3.0,4.0...|Attrited Customer|
|[0.0,15.0,3.0,1.0...|Attrited Customer|
|[0.0,36.0,4.0,3.0...|Attrited Customer|
|[0.0,36.0,4.0,3.0...|Attrited Customer|
|[0.0,37.0,5.0,2.0...|Attrited Customer|
|[0.0,38.0,4.0,3.0...|Attrited Customer|
|[0.0,40.0,3.0,4.0...|Attrited Customer|
|[0.0,56.0,5.0,4.0...|Attrited Customer|
|[0.0,20.0,5.0,1.0...|Attrited Customer|
|[0.0,21.0,4.0,2.0...|Attrited Customer|
|[0.0,25.0,5.0,3.0...|Attrited Customer|
|[0.0,36.0,1.0,3.0...|Attrited Customer|
|[0.0,36.0,2.0,3.0...|Attrited Customer|
|[0.0,36.0,2.0,3.0...|Attrited Customer|
|[0.0,36.0,4.0,3.0...|Attrited Customer|
|[0.0,36.0,5.0,3.0...|Attrited Customer|
|[0.0,38.0,2.0,3.0...|Attrited Customer|
+--------------------+-----------------+
only showing top 20 rows

+--------------------+-----------------+
|            features|   Attrition_Flag|
+--------------------+-----------------+
|[0.0,30.0,5.0,2.0...|Attrited Customer|
|[0.0,19.0,2.0,1.0...|Attrited Customer|
|[0.0,40.0,5.0,4.0...|Attrited Customer|
|[0.0,56.0,3.0,4.0...|Attrited Customer|
|[0.0,15.0,3.0,1.0...|Attrited Customer|
|[0.0,36.0,4.0,3.0...|Attrited Customer|
|[0.0,36.0,4.0,3.0...|Attrited Customer|
|[0.0,37.0,5.0,2.0...|Attrited Customer|
|[0.0,38.0,4.0,3.0...|Attrited Customer|
|[0.0,40.0,3.0,4.0...|Attrited Customer|
|[0.0,56.0,5.0,4.0...|Attrited Customer|
|[0.0,20.0,5.0,1.0...|Attrited Customer|
|[0.0,21.0,4.0,2.0...|Attrited Customer|
|[0.0,25.0,5.0,3.0...|Attrited Customer|
|[0.0,36.0,1.0,3.0...|Attrited Customer|
|[0.0,36.0,2.0,3.0...|Attrited Customer|
|[0.0,36.0,2.0,3.0...|Attrited Customer|
|[0.0,36.0,4.0,3.0...|Attrited Customer|
|[0.0,36.0,5.0,3.0...|Attrited Customer|
|[0.0,38.0,2.0,3.0...|Attrited Customer|
+--------------------+-----------------+
only showing top 20 rows

In [29]:
#Creating a DecisionTreeClassifier model
model_credit = DecisionTreeClassifier(labelCol="Attrition_Flag", featuresCol="features")

#Train model
model_credit = model_credit.fit(modeling_df)

In [30]:
predicton = model_credit.transform(modeling_df)
predicton.show()

+--------------------+--------------+-------------+--------------------+----------+
|            features|Attrition_Flag|rawPrediction|         probability|prediction|
+--------------------+--------------+-------------+--------------------+----------+
|[0.0,30.0,5.0,2.0...|             0|[133.0,113.0]|[0.54065040650406...|       0.0|
|[0.0,19.0,2.0,1.0...|             0| [125.0,19.0]|[0.86805555555555...|       0.0|
|[0.0,40.0,5.0,4.0...|             0|[133.0,113.0]|[0.54065040650406...|       0.0|
|[0.0,56.0,3.0,4.0...|             0| [14.0,137.0]|[0.09271523178807...|       1.0|
|[0.0,15.0,3.0,1.0...|             0|   [18.0,3.0]|[0.85714285714285...|       0.0|
|[0.0,36.0,4.0,3.0...|             0| [531.0,79.0]|[0.87049180327868...|       0.0|
|[0.0,36.0,4.0,3.0...|             0|[30.0,1008.0]|[0.02890173410404...|       1.0|
|[0.0,37.0,5.0,2.0...|             0| [531.0,79.0]|[0.87049180327868...|       0.0|
|[0.0,38.0,4.0,3.0...|             0|[133.0,113.0]|[0.54065040650406...|       0.0|
|[0.0,40.0,3.0,4.0...|             0|[133.0,113.0]|[0.54065040650406...|       0.0|
|[0.0,56.0,5.0,4.0...|             0| [531.0,79.0]|[0.87049180327868...|       0.0|
|[0.0,20.0,5.0,1.0...|             0|   [18.0,3.0]|[0.85714285714285...|       0.0|
|[0.0,21.0,4.0,2.0...|             0|  [100.0,5.0]|[0.95238095238095...|       0.0|
|[0.0,25.0,5.0,3.0...|             0| [531.0,79.0]|[0.87049180327868...|       0.0|
|[0.0,36.0,1.0,3.0...|             0| [531.0,79.0]|[0.87049180327868...|       0.0|
|[0.0,36.0,2.0,3.0...|             0| [531.0,79.0]|[0.87049180327868...|       0.0|
|[0.0,36.0,2.0,3.0...|             0|   [47.0,3.0]|         [0.94,0.06]|       0.0|
|[0.0,36.0,4.0,3.0...|             0| [531.0,79.0]|[0.87049180327868...|       0.0|
|[0.0,36.0,5.0,3.0...|             0|[53.0,3975.0]|[0.01315789473684...|       1.0|
|[0.0,38.0,2.0,3.0...|             0|[30.0,1008.0]|[0.02890173410404...|       1.0|
+--------------------+--------------+-------------+--------------------+----------+
only showing top 20 rows

In [31]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

evaluator = MulticlassClassificationEvaluator(labelCol="Attrition_Flag")
area = evaluator.evaluate(predicton)

print(area)

0.9354346039699568

**1st Test Predictions**

In [32]:
#Test data- transform test data using all tranformers and estimators

test_df = attrition_indexer.transform(test_df)
test_df = vector_assembler.transform(test_df)
test_predication = model_credit.transform(test_df)

test_predication.show()

+--------------+------+---------------+---------------+---------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+-------------+--------------------+-------------+--------------------+----------+
|Attrition_Flag|Gender|Dependent_count|Education_Level|Income_Category|Months_on_book|Total_Relationship_Count|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|AttritedIndex|            features|rawPrediction|         probability|prediction|
+--------------+------+---------------+---------------+---------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+-------------+--------------------+-------------+--------------------+----------+
|             0|     F|              0|      Doctorate| Less than $40K|            27|                       2|                     3|                    2|      3876.0|                  0|         3876.0|               0.848|           7712|            73|              0.825|                  0.0|          1.0|[0.0,27.0,2.0,3.0...|  [100.0,5.0]|[0.95238095238095...|       0.0|
|             0|     F|              0|      Doctorate| Less than $40K|            36|                       2|                     2|                    3|      1438.3|                978|          460.3|               0.773|            947|            33|              0.571|                 0.68|          1.0|[0.0,36.0,2.0,2.0...| [125.0,19.0]|[0.86805555555555...|       0.0|
|             0|     F|              0|      Doctorate| Less than $40K|            50|                       6|                     3|                    5|      2936.0|                326|         2610.0|               0.935|           2692|            29|              0.526|                0.111|          1.0|[0.0,50.0,6.0,3.0...| [531.0,79.0]|[0.87049180327868...|       0.0|
|             0|     F|              0|      Doctorate| Less than $40K|            52|                       6|                     4|                    2|      2302.0|                  0|         2302.0|                0.52|           2256|            40|              0.667|                  0.0|          1.0|[0.0,52.0,6.0,4.0...|  [59.0,51.0]|[0.53636363636363...|       0.0|
|             0|     F|              0|      Doctorate|        Unknown|            46|                       6|                     4|                    3|      7210.0|                  0|         7210.0|               0.769|           2516|            36|                0.8|                  0.0|          1.0|[0.0,46.0,6.0,4.0...|  [59.0,51.0]|[0.53636363636363...|       0.0|
|             0|     F|              0|       Graduate|    $40K - $60K|            56|                       3|                     3|                    4|      9721.0|                  0|         9721.0|               0.826|           2260|            46|                1.0|                  0.0|          1.0|[0.0,56.0,3.0,3.0...|  [59.0,51.0]|[0.53636363636363...|       0.0|
|             0|     F|              0|       Graduate| Less than $40K|            18|                       5|                     1|                    1|      4203.0|                996|         3207.0|               0.705|           7292|            68|                0.7|                0.237|          1.0|[0.0,18.0,5.0,1.0...|  [20.0,48.0]|[0.29411764705882...|       1.0|
|             0|     F|              0|       Graduate| Less than $40K|            32|                       4|                     2|                    3|      1757.0|                331|         1426.0|               0.879|           2377|            47|              0.516|                0.188|          1.0|[0.0,32.0,4.0,2.0...| [531.0,79.0]|[0.87049180327868...|       0.0|
|             0|     F|              0|       Graduate| Less than $40K|            36|                       5|                     3|                    3|      8135.0|                  0|         8135.0|               0.841|           8620|            67|              0.971|                  0.0|          1.0|[0.0,36.0,5.0,3.0...|  [100.0,5.0]|[0.95238095238095...|       0.0|
|             0|     F|              0|       Graduate| Less than $40K|            40|                       4|                     1|                    4|      1438.3|                  0|         1438.3|               0.503|           2014|            53|              0.472|                  0.0|          1.0|[0.0,40.0,4.0,1.0...|  [16.0,36.0]|[0.30769230769230...|       1.0|
|             0|     F|              0|       Graduate| Less than $40K|            49|                       2|                     3|                    3|      1438.3|                  0|         1438.3|               1.047|            692|            16|                0.6|                  0.0|          1.0|[0.0,49.0,2.0,3.0...| [531.0,79.0]|[0.87049180327868...|       0.0|
|             0|     F|              0|       Graduate|        Unknown|            38|                       2|                     2|                    2|     34516.0|                  0|        34516.0|               0.695|           3901|            54|              0.421|                  0.0|          1.0|[0.0,38.0,2.0,2.0...| [531.0,79.0]|[0.87049180327868...|       0.0|
|             0|     F|              0|    High School|    $40K - $60K|            13|                       2|                     2|                    4|      1730.0|               1616|          114.0|               0.331|            869|            27|              0.286|                0.934|          1.0|[0.0,13.0,2.0,2.0...| [125.0,19.0]|[0.86805555555555...|       0.0|
|             0|     F|              0|    High School| Less than $40K|            41|                       3|                     3|                    4|      1438.3|                  0|         1438.3|               0.387|           1587|            42|              0.448|                  0.0|          1.0|[0.0,41.0,3.0,3.0...| [531.0,79.0]|[0.87049180327868...|       0.0|
|             0|     F|              0|    High School|        Unknown|            13|                       1|                     2|                    4|      6152.0|                  0|         6152.0|               0.391|            968|            23|              0.533|                  0.0|          1.0|[0.0,13.0,1.0,2.0...| [531.0,79.0]|[0.87049180327868...|       0.0|
|             0|     F|              0|     Uneducated|        Unknown|            31|                       3|                     3|                    4|      2712.0|                  0|         2712.0|               0.724|           2307|            28|              0.474|                  0.0|          1.0|[0.0,31.0,3.0,3.0...| [531.0,79.0]|[0.87049180327868...|       0.0|
|             0|     F|              0|        Unknown|    $40K - $60K|            52|                       2|                     4|                    3|      1852.0|                  0|         1852.0|               0.902|           2851|            49|               0.75|                  0.0|          1.0|[0.0,52.0,2.0,4.0...|   [47.0,3.0]|         [0.94,0.06]|       0.0|
|             0|     F|              0|        Unknown| Less than $40K|            39|                       1|                     3|                    3|      4982.0|               2517|         2465.0|               0.903|           9274|            65|              0.857|                0.505|          1.0|[0.0,39.0,1.0,3.0...|   [32.0,6.0]|[0.84210526315789...|       0.0|
|             0|     F|              1|        College|    $40K - $60K|            48|                       2|                     2|                    3|      3339.0|                  0|         3339.0|               0.694|           2432|            48|                0.6|                  0.0|          1.0|[1.0,48.0,2.0,2.0...| [531.0,79.0]|[0.87049180327868...|       0.0|
|             0|     F|              1|        College| Less than $40K|            56|                       3|                     1|                    2|      6167.0|                  0|         6167.0|               0.422|           1648|            43|              0.536|                  0.0|          1.0|[1.0,56.0,3.0,1.0...|  [16.0,36.0]|[0.30769230769230...|       1.0|
+--------------+------+---------------+---------------+---------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+-------------+--------------------+-------------+--------------------+----------+
only showing top 20 rows

In [33]:
area = evaluator.evaluate(test_predication)

print(area)

0.9237926606284816

**2nd Modeling**

In [64]:
from pyspark.sql import functions as F

# Perform groupBy and count operation on 'Attrition_Flag' column
attrition_flag_counts = credit_df.groupBy("Attrition_Flag").count()

# Join the original DataFrame with the DataFrame containing counts
updated_df = credit_df.join(attrition_flag_counts, "Attrition_Flag", "left")

df_8500 = updated_df.filter(updated_df["count"]==8500)
df_sample =df_8500.sample(fraction=1627.0/8500.0, seed=1)

df_1627 = updated_df.filter(updated_df["count"]==1627)
updated_df = df_sample.union(df_1627)

# Show the updated DataFrame
updated_df.show()

+-----------------+------+---------------+---------------+---------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+-----+
|   Attrition_Flag|Gender|Dependent_count|Education_Level|Income_Category|Months_on_book|Total_Relationship_Count|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|count|
+-----------------+------+---------------+---------------+---------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+-----+
|Existing Customer|     M|              3|       Graduate|   $80K - $120K|            36|                       4|                     1|                    0|      3418.0|                  0|         3418.0|               2.594|           1887|            20|              2.333|                  0.0| 8500|
|Existing Customer|     F|              4|    High School| Less than $40K|            34|                       3|                     4|                    1|      3313.0|               2517|          796.0|               1.405|           1171|            20|              2.333|                 0.76| 8500|
|Existing Customer|     M|              0|    High School|    $60K - $80K|            27|                       2|                     2|                    2|     29081.0|               1396|        27685.0|               2.204|           1538|            36|              0.714|                0.048| 8500|
|Existing Customer|     M|              1|        Unknown|    $40K - $60K|            54|                       6|                     2|                    3|      9095.0|               1587|         7508.0|               1.433|           1314|            26|              1.364|                0.174| 8500|
|Existing Customer|     M|              1|    High School|    $40K - $60K|            56|                       2|                     2|                    3|      3193.0|               2517|          676.0|               1.831|           1336|            30|              1.143|                0.788| 8500|
|Existing Customer|     M|              1|      Doctorate|    $60K - $80K|            42|                       5|                     2|                    0|     20979.0|               1800|        19179.0|               0.906|           1178|            27|              0.929|                0.086| 8500|
|Existing Customer|     F|              3|       Graduate| Less than $40K|            28|                       6|                     1|                    2|      7768.0|               1669|         6099.0|               0.797|           1051|            22|              0.833|                0.215| 8500|
|Existing Customer|     M|              4|    High School|    $40K - $60K|            42|                       6|                     0|                    0|      4785.0|               1362|         3423.0|               0.739|           1045|            38|                0.9|                0.285| 8500|
|Existing Customer|     M|              1|      Doctorate|    $40K - $60K|            52|                       3|                     2|                    2|      2548.0|               2020|          528.0|               2.357|           1719|            27|                1.7|                0.793| 8500|
|Existing Customer|     M|              2|        Unknown|        $120K +|            36|                       4|                     2|                    0|     19763.0|               2517|        17246.0|               0.664|           1414|            35|               0.25|                0.127| 8500|
|Existing Customer|     M|              2|    High School|    $60K - $80K|            34|                       4|                     4|                    3|      3336.0|               1753|         1583.0|                0.69|           1168|            27|               1.25|                0.525| 8500|
|Existing Customer|     M|              3|        Unknown|   $80K - $120K|            47|                       4|                     2|                    3|      3436.0|               2016|         1420.0|               0.901|           1097|            33|              0.833|                0.587| 8500|
|Existing Customer|     M|              4|     Uneducated|   $80K - $120K|            38|                       4|                     1|                    4|     34516.0|               1515|        33001.0|               0.592|           1293|            32|                0.6|                0.044| 8500|
|Existing Customer|     M|              2|        College|    $60K - $80K|            52|                       5|                     3|                    3|      6584.0|               1817|         4767.0|                0.62|           1353|            35|              0.667|                0.276| 8500|
|Existing Customer|     M|              2|      Doctorate|   $80K - $120K|            38|                       6|                     2|                    2|     25300.0|               1330|        23970.0|               1.072|            837|            15|                2.0|                0.053| 8500|
|Existing Customer|     M|              3|       Graduate|    $60K - $80K|            30|                       6|                     1|                    2|      2536.0|               1823|          713.0|               0.703|           1468|            23|              0.353|                0.719| 8500|
|Existing Customer|     M|              1|        Unknown|        $120K +|            36|                       6|                     2|                    2|     34516.0|               1533|        32983.0|               0.924|           1603|            29|              0.526|                0.044| 8500|
|Existing Customer|     M|              2|       Graduate|    $60K - $80K|            47|                       5|                     3|                    0|      3085.0|               1910|         1175.0|               0.921|           1531|            35|              0.667|                0.619| 8500|
|Existing Customer|     M|              4|    High School|   $80K - $120K|            38|                       4|                     3|                    0|     31302.0|               1953|        29349.0|               0.875|           1564|            35|              2.182|                0.062| 8500|
|Existing Customer|     M|              0|       Graduate|   $80K - $120K|            42|                       5|                     4|                    1|      2664.0|               2037|          627.0|                0.85|           1286|            29|              0.933|                0.765| 8500|
+-----------------+------+---------------+---------------+---------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+-----+
only showing top 20 rows

In [65]:
# Define the new value
new_value = 1627

# Use `withColumn` and `when` function to create a new column with updated values
new_df = updated_df.withColumn("count", when(updated_df["count"] == 8500, new_value).otherwise(updated_df["count"]))

# Show the updated DataFrame
new_df.show()

+-----------------+------+---------------+---------------+---------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+-----+
|   Attrition_Flag|Gender|Dependent_count|Education_Level|Income_Category|Months_on_book|Total_Relationship_Count|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|count|
+-----------------+------+---------------+---------------+---------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+-----+
|Existing Customer|     M|              3|       Graduate|   $80K - $120K|            36|                       4|                     1|                    0|      3418.0|                  0|         3418.0|               2.594|           1887|            20|              2.333|                  0.0| 1627|
|Existing Customer|     F|              4|    High School| Less than $40K|            34|                       3|                     4|                    1|      3313.0|               2517|          796.0|               1.405|           1171|            20|              2.333|                 0.76| 1627|
|Existing Customer|     M|              0|    High School|    $60K - $80K|            27|                       2|                     2|                    2|     29081.0|               1396|        27685.0|               2.204|           1538|            36|              0.714|                0.048| 1627|
|Existing Customer|     M|              1|        Unknown|    $40K - $60K|            54|                       6|                     2|                    3|      9095.0|               1587|         7508.0|               1.433|           1314|            26|              1.364|                0.174| 1627|
|Existing Customer|     M|              1|    High School|    $40K - $60K|            56|                       2|                     2|                    3|      3193.0|               2517|          676.0|               1.831|           1336|            30|              1.143|                0.788| 1627|
|Existing Customer|     M|              1|      Doctorate|    $60K - $80K|            42|                       5|                     2|                    0|     20979.0|               1800|        19179.0|               0.906|           1178|            27|              0.929|                0.086| 1627|
|Existing Customer|     F|              3|       Graduate| Less than $40K|            28|                       6|                     1|                    2|      7768.0|               1669|         6099.0|               0.797|           1051|            22|              0.833|                0.215| 1627|
|Existing Customer|     M|              4|    High School|    $40K - $60K|            42|                       6|                     0|                    0|      4785.0|               1362|         3423.0|               0.739|           1045|            38|                0.9|                0.285| 1627|
|Existing Customer|     M|              1|      Doctorate|    $40K - $60K|            52|                       3|                     2|                    2|      2548.0|               2020|          528.0|               2.357|           1719|            27|                1.7|                0.793| 1627|
|Existing Customer|     M|              2|        Unknown|        $120K +|            36|                       4|                     2|                    0|     19763.0|               2517|        17246.0|               0.664|           1414|            35|               0.25|                0.127| 1627|
|Existing Customer|     M|              2|    High School|    $60K - $80K|            34|                       4|                     4|                    3|      3336.0|               1753|         1583.0|                0.69|           1168|            27|               1.25|                0.525| 1627|
|Existing Customer|     M|              3|        Unknown|   $80K - $120K|            47|                       4|                     2|                    3|      3436.0|               2016|         1420.0|               0.901|           1097|            33|              0.833|                0.587| 1627|
|Existing Customer|     M|              4|     Uneducated|   $80K - $120K|            38|                       4|                     1|                    4|     34516.0|               1515|        33001.0|               0.592|           1293|            32|                0.6|                0.044| 1627|
|Existing Customer|     M|              2|        College|    $60K - $80K|            52|                       5|                     3|                    3|      6584.0|               1817|         4767.0|                0.62|           1353|            35|              0.667|                0.276| 1627|
|Existing Customer|     M|              2|      Doctorate|   $80K - $120K|            38|                       6|                     2|                    2|     25300.0|               1330|        23970.0|               1.072|            837|            15|                2.0|                0.053| 1627|
|Existing Customer|     M|              3|       Graduate|    $60K - $80K|            30|                       6|                     1|                    2|      2536.0|               1823|          713.0|               0.703|           1468|            23|              0.353|                0.719| 1627|
|Existing Customer|     M|              1|        Unknown|        $120K +|            36|                       6|                     2|                    2|     34516.0|               1533|        32983.0|               0.924|           1603|            29|              0.526|                0.044| 1627|
|Existing Customer|     M|              2|       Graduate|    $60K - $80K|            47|                       5|                     3|                    0|      3085.0|               1910|         1175.0|               0.921|           1531|            35|              0.667|                0.619| 1627|
|Existing Customer|     M|              4|    High School|   $80K - $120K|            38|                       4|                     3|                    0|     31302.0|               1953|        29349.0|               0.875|           1564|            35|              2.182|                0.062| 1627|
|Existing Customer|     M|              0|       Graduate|   $80K - $120K|            42|                       5|                     4|                    1|      2664.0|               2037|          627.0|                0.85|           1286|            29|              0.933|                0.765| 1627|
+-----------------+------+---------------+---------------+---------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+-----+
only showing top 20 rows

In [66]:
new_attrited_df = new_df.withColumn("Attrition_Flag", F.when(F.col("Attrition_Flag") =='Attrited Customer', 0).otherwise(1))
new_attrited_df.show(3, truncate=False)

new_attrited_df.groupby("Attrition_Flag").count().show()

+--------------+------+---------------+---------------+---------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+-----+
|Attrition_Flag|Gender|Dependent_count|Education_Level|Income_Category|Months_on_book|Total_Relationship_Count|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|count|
+--------------+------+---------------+---------------+---------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+-----+
|1             |M     |3              |Graduate       |$80K - $120K   |36            |4                       |1                     |0                    |3418.0      |0                  |3418.0         |2.594               |1887           |20            |2.333              |0.0                  |1627 |
|1             |F     |4              |High School    |Less than $40K |34            |3                       |4                     |1                    |3313.0      |2517               |796.0          |1.405               |1171           |20            |2.333              |0.76                 |1627 |
|1             |M     |0              |High School    |$60K - $80K    |27            |2                       |2                     |2                    |29081.0     |1396               |27685.0        |2.204               |1538           |36            |0.714              |0.048                |1627 |
+--------------+------+---------------+---------------+---------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+-----+
only showing top 3 rows

+--------------+-----+
|Attrition_Flag|count|
+--------------+-----+
|             1| 1684|
|             0| 1627|
+--------------+-----+

In [67]:
(train_df, test_df) = new_attrited_df.randomSplit([0.8, 0.2], 11)
print("Number of train samples: " + str(train_df.count()))
print("Number of test samples: " + str(test_df.count()))

Number of train samples: 2632
Number of test samples: 679

IllegalArgumentException: requirement failed: Output column AttritedIndex already exists.

In [69]:
inputCols=[
 'Dependent_count',
 'Months_on_book',
 'Total_Relationship_Count',
 'Months_Inactive_12_mon',
 'Contacts_Count_12_mon',
 'Credit_Limit',
 'Total_Revolving_Bal',
 'Avg_Open_To_Buy',
 'Total_Amt_Chng_Q4_Q1',
 'Total_Trans_Amt',
 'Total_Trans_Ct',
 'Total_Ct_Chng_Q4_Q1',
 'Avg_Utilization_Ratio'
    ]

outputCol="features"

vector_assembler2 = VectorAssembler(inputCols= inputCols, outputCol=outputCol )
train_df2 = vector_assembler2.transform(train_df)

In [70]:
modeling_df = train_df.select(['features', 'Attrition_Flag'])
modeling_df.show()

modeling_df.tail(10)
modeling_df.show()

+--------------------+--------------+
|            features|Attrition_Flag|
+--------------------+--------------+
|[0.0,13.0,2.0,3.0...|             1|
|[0.0,46.0,6.0,2.0...|             1|
|[0.0,53.0,3.0,2.0...|             1|
|[0.0,30.0,3.0,2.0...|             1|
|[0.0,36.0,1.0,2.0...|             1|
|[0.0,56.0,5.0,2.0...|             1|
|[0.0,36.0,1.0,1.0...|             1|
|[0.0,51.0,3.0,3.0...|             1|
|[0.0,36.0,3.0,1.0...|             1|
|[0.0,45.0,5.0,2.0...|             1|
|[0.0,45.0,6.0,3.0...|             1|
|[0.0,56.0,4.0,2.0...|             1|
|[0.0,56.0,4.0,3.0...|             1|
|[0.0,17.0,4.0,1.0...|             1|
|[0.0,20.0,5.0,1.0...|             1|
|[0.0,26.0,3.0,1.0...|             1|
|[0.0,26.0,6.0,1.0...|             1|
|[0.0,32.0,2.0,2.0...|             1|
|[0.0,36.0,2.0,2.0...|             1|
|[0.0,36.0,4.0,3.0...|             1|
+--------------------+--------------+
only showing top 20 rows

+--------------------+--------------+
|            features|Attrition_Flag|
+--------------------+--------------+
|[0.0,13.0,2.0,3.0...|             1|
|[0.0,46.0,6.0,2.0...|             1|
|[0.0,53.0,3.0,2.0...|             1|
|[0.0,30.0,3.0,2.0...|             1|
|[0.0,36.0,1.0,2.0...|             1|
|[0.0,56.0,5.0,2.0...|             1|
|[0.0,36.0,1.0,1.0...|             1|
|[0.0,51.0,3.0,3.0...|             1|
|[0.0,36.0,3.0,1.0...|             1|
|[0.0,45.0,5.0,2.0...|             1|
|[0.0,45.0,6.0,3.0...|             1|
|[0.0,56.0,4.0,2.0...|             1|
|[0.0,56.0,4.0,3.0...|             1|
|[0.0,17.0,4.0,1.0...|             1|
|[0.0,20.0,5.0,1.0...|             1|
|[0.0,26.0,3.0,1.0...|             1|
|[0.0,26.0,6.0,1.0...|             1|
|[0.0,32.0,2.0,2.0...|             1|
|[0.0,36.0,2.0,2.0...|             1|
|[0.0,36.0,4.0,3.0...|             1|
+--------------------+--------------+
only showing top 20 rows

In [71]:
#Creatind a DecisionTreeClassifier model
model_credit = DecisionTreeClassifier(labelCol="Attrition_Flag", featuresCol="features")

#Train model
model_credit = model_credit.fit(modeling_df)

In [72]:
predicton = model_credit.transform(modeling_df)
predicton.show()

+--------------------+--------------+-------------+--------------------+----------+
|            features|Attrition_Flag|rawPrediction|         probability|prediction|
+--------------------+--------------+-------------+--------------------+----------+
|[0.0,13.0,2.0,3.0...|             1|  [4.0,612.0]|[0.00649350649350...|       1.0|
|[0.0,46.0,6.0,2.0...|             1|  [4.0,612.0]|[0.00649350649350...|       1.0|
|[0.0,53.0,3.0,2.0...|             1|  [4.0,612.0]|[0.00649350649350...|       1.0|
|[0.0,30.0,3.0,2.0...|             1|   [5.0,74.0]|[0.06329113924050...|       1.0|
|[0.0,36.0,1.0,2.0...|             1| [10.0,194.0]|[0.04901960784313...|       1.0|
|[0.0,56.0,5.0,2.0...|             1|  [4.0,612.0]|[0.00649350649350...|       1.0|
|[0.0,36.0,1.0,1.0...|             1| [10.0,194.0]|[0.04901960784313...|       1.0|
|[0.0,51.0,3.0,3.0...|             1| [56.0,244.0]|[0.18666666666666...|       1.0|
|[0.0,36.0,3.0,1.0...|             1|   [25.0,2.0]|[0.92592592592592...|       0.0|
|[0.0,45.0,5.0,2.0...|             1|   [15.0,4.0]|[0.78947368421052...|       0.0|
|[0.0,45.0,6.0,3.0...|             1|  [4.0,612.0]|[0.00649350649350...|       1.0|
|[0.0,56.0,4.0,2.0...|             1| [56.0,244.0]|[0.18666666666666...|       1.0|
|[0.0,56.0,4.0,3.0...|             1|  [4.0,612.0]|[0.00649350649350...|       1.0|
|[0.0,17.0,4.0,1.0...|             1|  [4.0,612.0]|[0.00649350649350...|       1.0|
|[0.0,20.0,5.0,1.0...|             1|  [4.0,612.0]|[0.00649350649350...|       1.0|
|[0.0,26.0,3.0,1.0...|             1| [56.0,244.0]|[0.18666666666666...|       1.0|
|[0.0,26.0,6.0,1.0...|             1|  [4.0,612.0]|[0.00649350649350...|       1.0|
|[0.0,32.0,2.0,2.0...|             1|  [4.0,612.0]|[0.00649350649350...|       1.0|
|[0.0,36.0,2.0,2.0...|             1|  [4.0,612.0]|[0.00649350649350...|       1.0|
|[0.0,36.0,4.0,3.0...|             1| [652.0,25.0]|[0.96307237813884...|       0.0|
+--------------------+--------------+-------------+--------------------+----------+
only showing top 20 rows

In [73]:

evaluator = MulticlassClassificationEvaluator(labelCol="Attrition_Flag")
area = evaluator.evaluate(predicton)

print(area)

0.9201211456673946